<!-- Toolbar -->


<div class="content" role="main">


  <!-- <input style="display: none" type="file" (change)="onImageSelected($event)" #imgInput>
  <img [src]="url" width="150" height="150" (click)="imgInput.click()"> -->
  <form [formGroup]="cvForm" (ngSubmit)="onSubmit()">
    <div class="form-header">
      <h2>Informatii personale</h2>
    </div>
    <div formGroupName="personal">

      <div class="form-cv" >

        <mat-form-field appearance="outline">
          <mat-label>Prenume</mat-label>
          <input matInput formControlName="firstName" placeholder="ex: Ionut">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nume</mat-label>
          <input matInput formControlName="lastName" placeholder="ex: Popescu">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Data nasterii</mat-label>
          <input matInput formControlName="dateOfBirth" type="date" placeholder="">
        </mat-form-field>
      </div>
      <div class="form-cv">
        <mat-form-field appearance="outline">
          <mat-label>Telefon</mat-label>
          <input matInput formControlName="phone" placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Adresa</mat-label>
          <input matInput formControlName="address" placeholder="">
        </mat-form-field>


      </div>
    </div>
      <mat-divider></mat-divider>

      <div class="form-header-button">
        <h2>Educatie</h2>
        <button mat-button color="accent" (click)=addNextEducation()>
          <h4>Adauga campuri educatie</h4>
      </button>
    </div>
    <div formArrayName="education"
    *ngFor="let item of getControls('education'); let i= index;">
<div  [formGroupName]="i">

  <div class="form-cv">

    <mat-form-field appearance="outline">
      <mat-label>Domeniul de studiu</mat-label>
      <input matInput formControlName="domain" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Diploma</mat-label>
      <input matInput formControlName="degree" placeholder="">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Numele institutiei</mat-label>
      <input matInput formControlName="schoolName" placeholder="">
    </mat-form-field>
  </div>
  <div class="form-cv">
    <mat-form-field appearance="outline">
      <mat-label>Inceput (anul)</mat-label>
      <input matInput formControlName="startYear" placeholder="">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sfarsit(anul)</mat-label>
      <input matInput formControlName="endYear" placeholder="">
    </mat-form-field>

  </div>
</div>
</div>
<mat-divider></mat-divider>

<div class="form-header-button">
  <h2>Experienta</h2>
  <button mat-button color="accent" (click)="addNextExperience()">
    <h4>Adauga campuri experienta</h4>
  </button>
</div>
<div formArrayName="experiences"
      *ngFor="let item of getControls('experiences'); let i=index;">
<div [formGroupName]='i'>

  <div class="form-cv">

    <mat-form-field appearance="outline">
      <mat-label>Titlu job</mat-label>
      <input matInput formControlName="jobTitle" placeholder="">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Angajator</mat-label>
      <input matInput formControlName="company" placeholder="">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descriere</mat-label>
      <input matInput formControlName="description" placeholder="">
    </mat-form-field>
  </div>

  <div class="form-cv">
    <mat-form-field appearance="outline">
      <mat-label>Inceput (anul)</mat-label>
      <input matInput formControlName="startYear" placeholder="">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sfarsit(anul / prezent)</mat-label>
      <input matInput formControlName="endYear" placeholder="">
    </mat-form-field>

  </div>
</div>
</div>
<mat-divider></mat-divider>

<div class="form-header">
  <h2>Skills</h2>
</div>
<div class="form-cv">

      <mat-form-field class="skills" appearance="outline">

        <mat-chip-list #chipList aria-label="Ce skill-uri ai?">
          <mat-chip *ngFor="let skill of skills" (removed)="remove(skill)">
            {{skill.skill}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="Ce skill-uri ai?"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <button style="display: none" type="submit" #submitBtn></button>
    <div class="form-button" *ngIf=!clicked>
      <button mat-raised-button type="button" color="accent" (click)="saveButton(submitBtn)">
        <h1>Salveaza</h1>
      </button>

    </div>
      <div class="form-button" *ngIf=clicked>
        <button mat-raised-button  color="accent" (click)="download()">
          <h1>Descarca CV</h1>
        </button>

    </div>
  </form>
  <div class="form-cv">
    <h3>
      If you like this CV Builder, you can visit my <span><a href="https://github.com/glaurentiu">Github</a></span>
      profile.

    </h3>
  </div>
  <h5>
    Background inspired by <span><a href="https://manuel.pinto.dev/">Manuel Pinto</a></span>

  </h5>
</div>

<div class="form-cv"></div>
